# Binaries for programs and plugins
*.exe
npulse-agent

# Exclude
/.vscode/*

# godotenv file
.env

# go.work
go.work
go.work.sum

# Dependency directories (remove the comment below to include it)
vendor/

# Local scripts
scripts/
